<footer class="footer mt-auto py-3 bg-dark text-white-50">
  <div class="container text-center">
    <span class="text-muted"><small>Copyright &copy: IMC Investments</span>
  </div>
</footer>
<style>

</style>